<div id="barra_instrucciones">
	Aquí puedes configurar los datos de tu cuenta.
	Recuerda que antes de poder acceder al servicio geoAlertas debes 
	de estar dado de alta en los servicios movistar: 
	<a href="http://www.localizame.movistar.es">localízame</a> y 
	<a href="http://open.movilforum.com/ihttpes">SMS</a>.
	Lee las <a href="/instrucciones">instrucciones</a>
	para más información.
</div> <!-- barra_mensaje -->

<div id="col_izq">
	<% form_for :user, @user, :url => { :action => 'update' } do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
		
		<div class="elemento_form submit">
		  <%= f.submit 'actualizar cuenta' %>
		</div>
		
	<% end %>	 <!-- form -->
</div> <!-- col_izq -->
