<div id="barra_instrucciones">
	Aquí puedes actualizar las características de tu alerta.
</div> <!-- barra_mensaje -->

<div id="col_izq">
	<% form_for :alert, @alert, :url => { :action => 'update' } do |f| %>
		<%= f.hidden_field :id %>
		
		<%= render :partial => 'form', :locals => {:f => f} %>
		
		<div class="elemento_form submit">
			<%= f.submit "actualizar alerta" %>
		</div>
		
	<% end %> <!-- form -->	
</div> <!-- col_izq -->
