#wrap {
width: 800px;
margin: 0px auto;
}

#header{
height: 186px;
background: url('../images/cabecera.jpeg') no-repeat center center;
}

#mundo{
height: 782px;
background: url('../images/mundo.jpeg') no-repeat center center;
}

#telefono{
height: 304px;
background: url('../images/telefono.jpeg') no-repeat left center;
margin-left: 400px;
}

#footer{
border-top: 1px solid black;
height: 100px;
padding-top: 10px;
}

#footer li{
display: inline;
font-family: sans;
font-size: 20px;
font-weight: bold;
margin-left: 20px;

}

#footer a{
text-decoration: none;
color: black;
}


#footer a:hover{
border-bottom: 3px solid black;
}

